body{
	padding: 0;
	margin: 0;
	border: 0;
}

h1{
	margin: 0;
	padding: 6px;
	color: #F1F1F1;
}

p{
	color: #F1F1F1;
	font-family: bold;
}

h2{
	padding-left: 8px;
	color: #F1F1F1;
}

h3{
	padding-left: 8px;
	color: #F1F1F1;
}

@media (max-width:1200px){
	#welcome_content{
		max-width: 970px;
	}
}
@media (max-width:992px){
	#welcome_content{
		max-width: 750px;
	}
}
@media (max-width:767px){
	#welcome_content{
		max-width: none;
	}

}

#header{
	background: #71A0E6;
	max-width: 1280px;
	height: 120px;
	display: flex;
	margin: 0px auto;
}

#welcome_content{
	background: #71A0E6;
	padding-left: 8px;
	padding-right: 100px;
	margin: 0px auto;
}

#sg_img{
	
}